<div class="container">

	<div class="row">
		<img src="assets/images/news.png" class="background">
	</div>

	<hr>

	{{#each this}}
	<div class="row articlerow">
		<div class="col-2.5">
			<img class="articleimages" src="{{this.image}}">
		</div>
		<div class="col">
			<div id="articletext">
				<h4>{{this.title}}</h4>
				<p>{{this.summary}}</p>
				<a href="{{this.link}}" target="_blank">Link to article (opens in new tab)</a>
			</div>
		</div>
		<div class="col-2 align-self-end text-center">
			<button data-id="{{this._id}}" class="btn save btn-success">Save Article</button>
		</div>
	</div>

	<hr>

	{{/each}}

</div>

